/* Estilo general del body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* Alinea el contenido en columna */
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* Estilo para el contenedor principal */
.main-container {
  width: 80%;
  text-align: center;
}

/* Estilo del botón */
#toggleView {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para el carrusel con relación de aspecto 9:12 */
.swiper {
  width: 80%;
  height: 0;
  padding-top: 66.67%;  /* Relación de aspecto 9:12 */
  position: relative;
  margin: 0 auto;
}

/* Estilo de las imágenes dentro del carrusel */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* Estilo de las flechas de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

/* Estilo de la paginación */
.swiper-pagination-bullet {
  background-color: #fff;
}

/* Estilo del iframe */
iframe {
  width: 100%;
  height: 500px;
  border: none;
  margin-top: 20px;
}

.hidden {
  display: none;
}
