body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes desplazamiento {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

#toggleView.animate {
  animation: desplazamiento 0.5s ease;
}

#toggleView {
  margin-bottom: 20px; /* Separar el botón del carrusel */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 150px;
  text-align: center;
}

#toggleView:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

#toggleView.active {
  background-color: #555555;
  color: white;
}

#toggleView.active:hover {
  background-color: #218838;
}

.swiper {
  width: 100%;
  max-width: 800px;
  height: 480px;
  background-color: transparent;
  margin-top: 20px; /* Separar el carrusel del botón */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

#viewer-3d {
  width: 100%;
  height: 480px;
  border: none;
  display: block;
  border-radius: 15px;
  position: relative;
  margin-top: 20px; /* Separar el iframe del botón */
}

#viewer-3d.hidden,
.swiper.hidden {
  display: none;
}

.hidden {
  display: none;
}
