body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: transparent;
  flex-direction: column;
  font-family: Arial, sans-serif; /* Mejora la tipograf铆a general */
}

.visor-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 5;
}

/* Efecto hover sobre el bot贸n */
.visor-button:hover {
  background-color: #0056b3;
  transform: translateX(-50%) scale(1.1); /* Mejora el efecto de escalado */
}

/* Cuando el bot贸n tiene la clase active */
.visor-button.active {
  background-color: #333; /* Color gris cuando est谩 activo */
  color: white;
}

/* Swiper y sus elementos */
.swiper {
  width: 80%;
  height: 80vh;
  display: block; /* Asegura que ocupe el espacio requerido */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantiene la relaci贸n de aspecto de las im谩genes */
  border-radius: 15px;
}

/* Estilo para el iframe, inicialmente oculto */
#iframeContainer {
  display: none;
  text-align: center;
  padding-top: 80px; /*  A帽adido */
  margin-top: 20px;  
}

/* A帽adir animaci贸n en el bot贸n */
.visor-button.animate {
  transform: scale(1.1); /* Aumento al hacer clic */
}
